Data set: NYC taxi timings + NYC weather report

In [1]:
import pandas as pd
import numpy as np
import IPython.display as display

In [2]:
raw_df=pd.read_csv('../taxi_trips/refined_data.csv')
raw_df.head()

,Unnamed: 0,year,month,date,hour,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,...,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,avg_temp,snow_depth,snow_fall,precipitate,distance
0,0,2016,3,2016-03-14,17,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,...,40.767937,-73.964630,40.765602,N,455,45.5,0.0,0.0,0.29,17.679539
1,1,2016,6,2016-06-12,0,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,...,40.738564,-73.999481,40.731152,N,663,72.5,0.0,0.0,0.0,20.455904
2,2,2016,4,2016-04-06,19,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,...,40.719971,-74.012268,40.706718,N,429,39.0,0.0,0.0,0.0,13.438206
3,3,2016,3,2016-03-26,13,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,...,40.793209,-73.972923,40.782520,N,435,46.5,0.0,0.0,0.0,10.689569
4,4,2016,1,2016-01-30,22,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,...,40.742195,-73.992081,40.749184,N,443,33.5,6.0,0.0,0.0,11.572403

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 21 columns):
Unnamed: 0            945 non-null int64
year                  945 non-null int64
month                 945 non-null int64
date                  945 non-null object
hour                  945 non-null int64
id                    945 non-null object
vendor_id             945 non-null int64
pickup_datetime       945 non-null object
dropoff_datetime      945 non-null object
passenger_count       945 non-null int64
pickup_longitude      945 non-null float64
pickup_latitude       945 non-null float64
dropoff_longitude     945 non-null float64
dropoff_latitude      945 non-null float64
store_and_fwd_flag    945 non-null object
trip_duration         945 non-null int64
avg_temp              945 non-null float64
snow_depth            945 non-null object
snow_fall             945 non-null object
precipitate           945 non-null object
distance              945 non-null float64
dtypes: float64(6), int64(7), object(8)
memory usage: 155.1+ KB

In [13]:
#changing the col 'Unnamed: 0 to 'index'
raw_df.rename(columns={'Unnamed: 0':'index','trip_duration':'trip_duration(min)',
                       'avg_temp':'avg_temp(F)','distance':'distance(mile)'
                      },inplace=True)
raw_df.columns

Index(['index', 'year', 'month', 'date', 'hour', 'id', 'vendor_id',
       'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'store_and_fwd_flag', 'trip_duration(min)',
       'avg_temp(F)', 'snow_depth', 'snow_fall', 'precipitate',
       'distance(mile)'],
      dtype='object')

In [18]:
#learning the data structure
df=raw_df
df.describe().round(3)

,index,year,month,hour,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration(min),avg_temp(F),distance(mile)
count,945.000,945.0,945.000,945.000,945.000,945.000,945.000,945.000,945.000,945.000,945.000,945.000,945.000
mean,472.000,2016.0,3.577,13.706,1.531,1.671,-73.976,40.752,-73.974,40.753,729.410,51.727,29.271
std,272.942,0.0,1.708,6.378,0.499,1.299,0.033,0.026,0.032,0.030,425.443,16.187,28.134
min,0.000,2016.0,1.000,0.000,1.000,1.000,-74.017,40.641,-74.178,40.577,3.000,7.000,0.000
25%,236.000,2016.0,2.000,9.000,1.000,1.000,-73.992,40.740,-73.991,40.735,401.000,39.500,12.623
50%,472.000,2016.0,4.000,14.000,2.000,1.000,-73.982,40.755,-73.979,40.756,642.000,52.000,20.034
75%,708.000,2016.0,5.000,19.000,2.000,2.000,-73.967,40.768,-73.962,40.771,974.000,64.000,35.902
max,944.000,2016.0,6.000,23.000,2.000,6.000,-73.777,40.850,-73.782,40.886,1988.000,81.500,230.143

In [19]:
df.dtypes

index                   int64
year                    int64
month                   int64
date                   object
hour                    int64
id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration(min)      int64
avg_temp(F)           float64
snow_depth             object
snow_fall              object
precipitate            object
distance(mile)        float64
dtype: object

In [70]:
#changing columns: year,month,hour,vendor_id, to categorical
col=''
def toCategory(col):
    col= col.astype('category')
    return col
# df.year=df.year.astype('category')
#df.dtypes
df.id=df.id.apply(toCategory)

AttributeError: 'str' object has no attribute 'astype'

In [ ]:
#separate data in columns: pickup_datetime, dropoff_datetime, 
#change col trip_duration from seconds to minutes
#change col avg_temp from fahrenheit to celsius by this formula: (F-32)*(5/9)

In [9]:
#looking fo missing values- "T"
if raw_df.precipitate

SyntaxError: invalid syntax (<ipython-input-9-fa67ae44e484>, line 2)

In [ ]:
raw_df['snow_fall'].unique()